body{
    background-color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.game_window{
    
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction:row;
    height: 95vh;
    width: 70vw;
    background-color: rgb(200,150,40);
    margin: 1% auto auto auto;
}
#money{
    flex-direction:row;
}
#title{
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction: column;
    margin-right: 5%;
}
.meh{
    display:flex;
    flex-direction:row;
}
#reset{
    width:100px;
    margin-right:5%;
    background-color: brown;
    color:white;
    border: 5px solid darkred;
}
.coffee{
    background-color: chocolate;
    border:5px solid;
    border-color:darkred;
    height:230px;
    width:480px;
    margin:20px;
    margin-left:8%;
    padding:10px;
}
.coffee_name{
    margin-top:0px;
}
.row{
    height:100px;
}
.column{
    margin:0px;
    padding:0px;
}
.card{
    border-radius:20px;
}
.header{
    width:100%;
}
button{
    border-radius:15px;
    border:2px;
    margin:3px;
    padding:5px;
}
.c_name{
    background-color:blueviolet;
    color:white;
}
.c_upgrade{
    background-color:limegreen;
    color:white;
}
.c_auto{
    background-color:brown;
    color:white;
}

.progress-bar{
    height:24px;
    width:0%;
    border: 2px;
    border-radius: 10px;
    --width: 0;
}
.progress-bar::before{
    height:20px;
    background-color:blue;
    width: calc(let(--width,0)*1%);
    min-width:2rem;
    max-width:calc(100% - 1em);
    padding:1em;
}
.hazelnut-lockable{
    display:none;
}
.vanilla-lockable{
    display:none;
}
.spice-lockable{
    display:none;
}